/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/font/Ubuntu-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(/font/Ubuntu.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/font/Ubuntu-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/font/Ubuntu-Italic.ttf) format('truetype');
}

/* General colors */
.blue {
    background: #00d2fd;
    color: black;
}

.orange {
    background: #f48526;
}

a:visited {
    color: white;
}

a:link {
    color: white;
}

.footer a:link {
    color: #00d2fd;
}

.footer a:visited {
    color: #f48526;
}


/* Main body layout, flexbox stuff */
html, body {
    height: 100%;
    margin: 0;
    background: #555;
    font-family: "Ubuntu";
}

div.flex {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Heading */
div.header {
    flex: 0 1 auto;
    padding-bottom: 5rem;

    text-align: center;
    font-family: "Ubuntu";
    font-weight: 300;
}

div.header .title {
    font-size: 5rem;
}

div.header .subtitle {
    font-size: 2rem;
}

/* Avatar image */
img.avatar {
    display: block;
    border-radius: 50%;
    width: 20rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* Main content */
div.content {
    flex: 1 1 auto;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Ref sheet image sizing */
@media (max-width: 768px) {
    .gallery {
        width: 95%;
    }
}

@media (min-width: 768px) {
    .gallery {
        width:750px;
    }
}

.gallery img {
    width: 100%;
}

.gallery {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    text-align: right;
}

/* Footer */
.footer {
    flex: 0 1 auto;
    height: 3rem;

    background: #555;
    color: white;
}
