!!! 5
%html
  %head
    %meta(charset="utf8")
    %title LibreWulf | A Real Wulf, IRL
    %link(rel="stylesheet" type="text/css" href="css/normalize.min.css")
    %link(rel="stylesheet" type="text/css" href="css/index.css")

  %body
    .flex
      .header.orange
        %img.avatar(src="img/avatar.jpg" alt="Avatar Image")
        .title LibreWulf
        .subtitle A Real Wulf, IRL
      .content.blue
        .text
          .gallery
            %img(src="img/librewulf_referencesheet.jpg" alt="Reference Sheet")
            :markdown
              Art by [CupcakeCreature](http://cupcakecreature.weebly.com/)
      .content.orange
        .text
          .gallery
            %img(src="img/hypno_icon.jpg" alt="Hypno Icon")
            :markdown
              Art by [Echo](https://beta.furrynetwork.com/ech00/)
      .content.blue
        .text
          .gallery
            %img(src="img/what.png" alt="Masterpiece")
            :markdown
              Art by [Cercat](http://cercat.tumblr.com/)
      .footer.gray
        .text
          :markdown
            Made with ❤️ by a big dumb 🐺. [Source is on
            GitHub](https://github.com/oslerw/librewulf.dog).
