!!! 5
%html
  %head
    %meta(charset="utf8")
    %title LibreWulf | A Real Wulf, IRL
    %link(rel="stylesheet" type="text/css" href="css/index.css")

  %body
    .flex
      .header
        %img.avatar(src="img/avatar.jpg" alt="Avatar Image")
        .title LibreWulf
        .subtitle A Real Wulf, IRL
      .content.blue
        .text
          .refsheet
            %img(src="img/librewulf_referencesheet.jpg" alt="Reference Sheet")
            Art by CupcakeCreature
      .footer.gray
        .text
          :markdown
            Made with ❤️ by a big dumb 🐺. [Source is on
            GitHub](https://github.com/oslerw/librewulf.dog).
