@charset "utf-8";
@import "normalize";

// Variables
$libre-orange: #f48526;
$libre-blue:   #00d2fd;
$libre-gray:   #555;

// TODO: separate site styles form index page styles
/* Fonts */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 300;
  src: local('Ubuntu Light'), local('Ubuntu-Light'), url(/fonts/Ubuntu-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), local('Ubuntu-Regular'), url(/fonts/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(/fonts/Ubuntu-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 400;
  src: local('Ubuntu Italic'), local('Ubuntu-Italic'), url(/font/Ubuntu-Italic.ttf) format('truetype');
}

/* General colors */
a:visited {
    color: white;
}

a:link {
    color: white;
}

.footer a:link {
    color: $libre-blue;
}

.footer a:visited {
    color: $libre-orange;
}


/* Main body layout, flexbox stuff */
html, body {
    height: 100%;
    margin: 0;
    background: $libre-gray;
    font-family: "Ubuntu";
}

div.flex {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    /*height: 100%;*/
}

/* Alternating Colors */
.flex > div:nth-child(even) {
    background: $libre-blue;
    color: black;
}

.flex > div:nth-child(odd) {
    background: $libre-orange;
}

/* Heading */
div.header {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    padding-bottom: 5rem;

    text-align: center;
    font-family: "Ubuntu";
    font-weight: 300;
}

div.header .title {
    font-size: 5rem;
}

div.header .subtitle {
    font-size: 2rem;
}

/* Avatar image */
img.avatar {
    display: block;
    border-radius: 50%;
    width: 20rem;
    margin-top: 4rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
}

/* Main content */
div.content {
    -webkit-flex: 1 1 auto;
    flex: 1 1 auto;
}

.text {
    margin-left: 1rem;
    margin-right: 1rem;
}

/* Ref sheet image sizing */
@media (max-width: 768px) {
    .gallery {
        width: 95%;
    }
}

@media (min-width: 768px) {
    .gallery {
        width:750px;
    }
}

.gallery img {
    width: 100%;
}

.gallery {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;

    text-align: right;
}

/* Footer */
.flex div.footer {
    -webkit-flex: 0 1 auto;
    flex: 0 1 auto;
    height: 3rem;

    background: $libre-gray;
    color: white;
}
