---
title: A Real Wulf, IRL
---
.flex
  .header
    = image_tag 'avatar.jpg', alt: 'Avatar Image', class: 'avatar'
    .title LibreWulf
    .subtitle A Real Wulf, IRL
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'librewulf_refsheet.png', alt: 'Reference Sheet'})
        :markdown
          Art by [CupcakeCreature](http://cupcakecreature.weebly.com/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'hypno_icon.jpg', alt: 'Hypno Icon'})
        :markdown
          Art by [Echo](https://beta.furrynetwork.com/ech00/)
  .content
    .text
      .gallery
        = partial(:gallery, locals: {image: 'what.png', alt: 'Masterpiece'})
        :markdown
          Art by [Cercat](http://cercat.tumblr.com/)
  .footer
    .text
      :markdown
        Made with ❤️ by a big dumb 🐺. [Source is on
        GitHub](https://github.com/oslerw/librewulf.dog).
